{% extends "layouts/layout1.html" %}
{% block title %}
Profile
{% endblock %}
{% block content %}
                    <li>
                        <a class="page-scroll" href="logout" >Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Account Page</div>
                <div class="intro-heading">Thanks for joining</div>
            </div>
        </div>
    </header>


{% endblock %}
